.sidebar { 
  grid-area: sidebar;
  background: #343a40;
}

.sidebar h1 {
  font-size: 24px;
  font-weight: 600;
  padding: 8.5px;
  text-align: center;
  border-bottom: 1px solid #5a5a5a;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.sidebar ul li {
  list-style-type: none;
  padding: 8px 16px;
}

.sidebar ul li:hover {
  background: #5a5a5a;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}