.footer {
  grid-area: footer;
  background: #fff;
  border-top: 1px solid #dee2e6;
}

.footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
}

.footer-content a {
  color: #007bff;
  font-size: 1.2em;
  text-decoration: none;
}

.footer-content span {
  color: #869099;
  font-size: 1.2em;
}